---
name: Open WebUI
version: 0.3.1
slug: open_webui
description: |
  Open WebUI (Formerly Ollama WebUI)
  
  Open WebUI is an extensible, feature-rich, and user-friendly 
  self-hosted WebUI designed to operate entirely offline
arch:
  - aarch64
  - amd64
boot: auto
map: 
  - share:rw
options:
  ollama_api_url: http://ollama:11434
schema:
  ollama_api_url: url
codenotary: red.avtovo@gmail.com
image: "ghcr.io/j0rsa/haddon-open-webui-{arch}"
ports:
  8080/tcp: 5000
ports_description:
  8080/tcp: Web UI port
udev: false
url: https://github.com/j0rsa/home-assistant-apps
