---
name: "SniProxy"
version: "1.1.1"
slug: "sni-proxy"
description: |
  SNI proxy
  
  Uses 80 and 443 ports and could not be remapped to other ports since DNS rewrite can't change ports of a website
arch:
  - aarch64
  - amd64
  - armv7
codenotary: "red.avtovo@gmail.com"
image: "ghcr.io/j0rsa/haddon-sni-proxy-{arch}"
udev: false
url: https://github.com/j0rsa/home-assistant-apps
ports:
  80/tcp: 80
  443/tcp: 443
ports_description:
  80/tcp: HTTP Entrance port (do not change)
  443/tcp: HTTPS/SSL Entrance port (do not change)
