---
name: Ariang
version: 0.0.5
slug: ariang
description: |
  Ariang 
  
  AriaNg is a modern web frontend making aria2 easier to use. 
  
  aria2 is a lightweight multi-protocol & multi-source, cross platform download utility operated in command-line. It supports HTTP/HTTPS, FTP, SFTP, BitTorrent and Metalink.
arch:
  - aarch64
  - amd64
environment:
  PUID: "0"
  PGID: "0"
  TZ: Etc/UTC

map: 
  - share:rw
boot: auto
codenotary: red.avtovo@gmail.com
image: "ghcr.io/j0rsa/haddon-ariang-{arch}"
udev: false
url: https://github.com/j0rsa/home-assistant-apps
ports:
  8080/tcp: 8080
ports_description:
  8080/tcp: Web UI port (Not required for Ingress)

ingress: true
ingress_port: 8080