name: Build add-on

on:
  push:
    branches: [ main ]
  # pull_request:
  #   branches: [ main ]

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      matrix-count: ${{ steps.set-matrix.outputs.matrix-count }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6.0.2
        with:
          # Fetch 2 last commits to get the changes
          fetch-depth: 2

      - name: Generate matrix
        run: |
          # git --no-pager diff --name-only HEAD^ HEAD
          python get_matrix.py --from-changes --previous

      - name: Set matrix output
        id: set-matrix
        run: |
          echo "matrix=$(cat matrix.txt)" >> $GITHUB_OUTPUT
          echo "matrix-count=$(cat matrix-count.txt)" >> $GITHUB_OUTPUT
          cat matrix.txt > $GITHUB_STEP_SUMMARY


  build:
    runs-on: ubuntu-latest
    needs: generate-matrix
    if: ${{ needs.generate-matrix.outputs.matrix-count != '0' }}
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6.0.2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push ${{ matrix.target }}
        uses: home-assistant/builder@2024.08.2
        with:
          args: |
            ${{ matrix.platforms }} \
            --target ${{ matrix.target }} \
            --docker-hub ghcr.io/${{ github.repository_owner }} \
            --addon \
            --cosign
